.list {
    list-style-type: none;
    padding: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .listItem {
    margin-bottom: 2rem;
  }

  .listItem a {
    color: white;
    text-decoration: none;
  }
  